
#droparea
{
	width:100%;
	height:220px;
	border:7px dashed #ccc;
	border-radius:10px;
	vertical-align:baseline;
	margin:0 auto;
	text-align:center;
	text-shadow:1px 1px 0 #fff;
}

#droparea p
{
	margin:7px 0;
}

#droparea .dropareainner
{
	margin-top:35px;
}

#droparea .dropfiletext
{
	font-size:18px;
	font-weight:bold;
	color:#555;
}

#droparea .uploadbtn
{
	border:1px solid #ccc;
	background-color:#f4f4f4;
	padding:2px 5px;
	margin-bottom:5px;
	border-radius:25px;
	cursor:pointer;
	font-weight:bold;
	color:#777;
}

#droparea .uploadbtn:hover
{
	border-color:#777;
	color:#555;
}

#droparea.hover
{
	border-color:#777;
	background-color:#fff;
}

#err
{
	color:#DB0000;
	padding-top:3px;
	font-size:13px;
	line-height:1.5;
}

/* #result style */

.message
{
	margin-bottom:35px;
	margin-top:30px;
	text-align:center;
	text-shadow:1px 1px 0 #fff;
	color:#777;
}

#result
{
	margin-top:0px;
}

#result .imageholder
{
	display:inline-block;
	background:#fff;
	padding:15px;
	margin:7px;
	text-align:center;
	box-shadow:0 0 4px #999;
	border:1px solid #999;
	position:relative;

	transform:scale(1) rotate(0deg);
	-ms-transform:scale(1) rotate(0deg);
	-moz-transform:scale(1) rotate(0deg);
	-webkit-transform:scale(1) rotate(0deg);
	-o-transform:scale(1) rotate(0deg);

	transition: transform 1s 0.5s ease-out;
	-moz-transition: -moz-transform 1s 0.5s ease-in-out;
	-webkit-transition: -webkit-transform 1s 0.5s ease-out;
	-o-transition: -o-transform 1s 0.5s ease-out;

}

.image
{
	height: auto;
	width: 180px;
}

.remove-images
{
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}

.primary-image
{
	position: absolute;
	top:2px;
	right: 20px;
	cursor: pointer;
}

.thumbnail 
{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
}

.crop
{
	line-height: 0;   
   -webkit-column-count: 2;
   -webkit-column-gap:   5px;
   -moz-column-count:    2;
   -moz-column-gap:      5px;
   column-count:         2;
   column-gap:           5px;
}

.crop img
{
 	width: 100% !important;
	height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


.profile-list 
{
	width: 100%;
}

.push-right
{
	position: relative;
	right: 0;	
}

.address
{
	margin-bottom: 0;
}

.control
{
	margin-top: 30px;
}

.navbar
{
	border-radius:0;
	margin-bottom: 0 
}

.background
{
  background: url(/img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.search-box
{
	margin-top: 5%;
}

.box
{
	margin-top: 5%;
}

h1 .white {color: white;}