body{
	margin:0;
	padding:0;
	background:url(bg.gif) 0 0 repeat #f7f5f5;
	color:#333;
	font-family:Cambria, Georgia, serif;
	font-size:15px;
}
header, footer, section, 
hgroup, figure, figcaption{
	margin:0;
	padding:0;
	display:block;
}
p{
	margin:0;
	padding:0;
}
a {
	color:#35BFFF;
	text-decoration:none;
}
a:hover, a:active{
	color:#91DCFF;
}

/* Header */
#header{
	width:100%;
	background:#000;
	background:rgba(0, 0, 0, 0.8);
	padding:5px 0;
	letter-spacing:1px;
	margin-bottom:20px;
	position:relative;
	top:0;
	left:0;
	z-index:99;
}
#header h1{
	padding:0 20px;
	margin:5px 0;
	text-shadow:2px 1px 1px #333, 2px 2px 1px #888;
	color:#EAEAEA;
	float:left;
	font-size:27px;
}
#backlinks{
	float:right;
	padding:0 20px;
	line-height:20px;
	font-weight:bold;
	font-size:13px;
}
#backlinks a{
	text-align:right;
	display:block;
}

/* Footer */
#footer{
	position:relative;
	padding-left:20px;
	bottom:0;
	left:0;
	line-height:20px;
	color:#888;
	font-size:13px;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.8);
	z-index:99;
}
#footer span{
	display:block;
}

/* clearfix */
.clearfix {
	clear:both;
}

#wrapper{
	width:1100px;
	margin:20px auto 100px;
	min-height:620px;
}

#wrapper hgroup{
	text-align:center;
	margin:10px 0 30px;
}
#wrapper h2{
	margin:5px 0;
	color:#FF6A00;
	text-shadow:0 2px 2px #773F00;
	font-size:33px;
	font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h2 span{
	color:#FFD800;
	text-shadow:0 2px 2px #442400;
	font-size:31px;
	letter-spacing:3px;
	font-family:Arial, sans-serif;
}
#wrapper h3{
	font-style:italic;
	font-weight:normal;
	font-size:18px;
	text-shadow:1px 1px 0 #fff;
	color:#888;
	margin:5px 0;
}

#upload{
	visibility:hidden;
	opacity:0;
	position:absolute;
}
#droparea{
	width:700px;
	height:220px;
	border:7px dashed #ccc;
	border-radius:10px;
	vertical-align:baseline;
	margin:0 auto;
	text-align:center;
	text-shadow:1px 1px 0 #fff;
}
#droparea p{
	margin:7px 0;
}
#droparea .dropareainner{
	margin-top:35px;
}
#droparea .dropfiletext{
	font-size:18px;
	font-weight:bold;
	color:#555;
}
#droparea .uploadbtn{
	border:1px solid #ccc;
	background-color:#f4f4f4;
	padding:2px 5px;
	margin-bottom:5px;
	border-radius:25px;
	cursor:pointer;
	font-weight:bold;
	color:#777;
}
#droparea .uploadbtn:hover{
	border-color:#777;
	color:#555;
}
#droparea.hover{
	border-color:#777;
	background-color:#fff;
}
#err{
	color:#DB0000;
	padding-top:3px;
	font-size:13px;
	line-height:1.5;
}

/* #result style */

.message{
	margin-bottom:35px;
	margin-top:30px;
	text-align:center;
	text-shadow:1px 1px 0 #fff;
	color:#777;
}
#result{
	margin-top:30px;
}
#result .imageholder{
	display:inline-block;
	background:#fff;
	padding:10px;
	margin:7px;
	text-align:center;
	box-shadow:0 0 4px #999;
	border:1px solid #999;
	position:relative;

	transform:scale(0) rotate(0deg);
	-ms-transform:scale(0) rotate(0deg);
	-moz-transform:scale(0) rotate(0deg);
	-webkit-transform:scale(0) rotate(0deg);
	-o-transform:scale(0) rotate(0deg);
	
	transition: transform 1s 0.5s ease-out;
	-moz-transition: -moz-transform 1s 0.5s ease-in-out;
	-webkit-transition: -webkit-transform 1s 0.5s ease-out;
	-o-transition: -o-transform 1s 0.5s ease-out;
}
#result .imageholder figcaption{
	font-style:italic;
	width:180px;
	word-wrap:break-word;
	font-weight:bold;
}
#result .imageholder figcaption span{
	font-size:11px;
	color:#777;
}
#result .imageholder img{
	width:180px;
	height:180px;
}

.well {
   background-color: rgba(245, 245, 245, 0.4);
}