#result
{
	margin-top:0px;
}

#result .imageholder
{
	display:inline-block;
	background:#fff;
	padding:15px;
	margin:7px;
	text-align:center;
	box-shadow:0 0 4px #999;
	border:1px solid #999;
	position:relative;

	transform:scale(1) rotate(0deg);
	-ms-transform:scale(1) rotate(0deg);
	-moz-transform:scale(1) rotate(0deg);
	-webkit-transform:scale(1) rotate(0deg);
	-o-transform:scale(1) rotate(0deg);

	transition: transform 1s 0.5s ease-out;
	-moz-transition: -moz-transform 1s 0.5s ease-in-out;
	-webkit-transition: -webkit-transform 1s 0.5s ease-out;
	-o-transition: -o-transform 1s 0.5s ease-out;

}

.image
{
	height: auto;
	width: 180px;
}

.remove-images
{
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}

.primary-image
{
	position: absolute;
	top:2px;
	right: 20px;
	cursor: pointer;
}

.thumbnail 
{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
}

.crop
{
	line-height: 0;   
   	column-count:         2;
   	column-gap:           5px;
}

.crop img
{
 	width: 100% !important;
	height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  column-count:         1;
  }
}