.profile-list 
{
	width: 100%;
}

.push-right
{
	position: relative;
	right: 0;	
}

.address
{
	margin-bottom: 0;
}

.control
{
	margin-top: 30px;
}

.navbar
{
	border-radius:0;
	margin-bottom: 0 
}

.background
{
  background: url(/img/background.jpg) no-repeat center center fixed; 
  background-size: cover;
  padding-top: 70px;
}
.search-box
{
	margin-top: 5%;
}

.box
{
	margin-top: 5%;
}

h1 .white {color: white;}