#upload
{
	visibility:hidden;
	opacity:0;
	position:absolute;
}

#droparea
{
	width:100%;
	height:220px;
	border:7px dashed #ccc;
	border-radius:10px;
	vertical-align:baseline;
	margin:0 auto;
	text-align:center;
	text-shadow:1px 1px 0 #fff;
}

#droparea p
{
	margin:7px 0;
}

#droparea .dropareainner
{
	margin-top:35px;
}

#droparea .dropfiletext
{
	font-size:18px;
	font-weight:bold;
	color:#555;
}

#droparea .uploadbtn
{
	border:1px solid #ccc;
	background-color:#f4f4f4;
	padding:2px 5px;
	margin-bottom:5px;
	border-radius:25px;
	cursor:pointer;
	font-weight:bold;
	color:#777;
}

#droparea .uploadbtn:hover
{
	border-color:#777;
	color:#555;
}

#droparea.hover
{
	border-color:#777;
	background-color:#fff;
}

#err
{
	color:#DB0000;
	padding-top:3px;
	font-size:13px;
	line-height:1.5;
}
